<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BudgetRush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>320580C21BBC9247001DDEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>320580DB1BBC9248001DDEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>320580E61BBC9248001DDEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
